@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
ul {
  position: relative;
  display: flex;
  gap: 25px;
}
ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}
ul li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}
ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}
ul li:hover::before {
  opacity: 1;
}
ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  top: 10px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
  filter: blur(15px);
}
ul li:hover::after {
  opacity: 0.5;
}
ul li ion-icon {
  color: #777;
  font-size: 1.75em;
  transition: 0.5s;
  transition-delay: 0.25s;
}
ul li:hover ion-icon {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}
ul li span {
  position: absolute;
}
ul li .title {
  color: #777;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  background: transparent;
}
ul li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}
